<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <h1>v-for</h1>
    <hr>
    <div id="app">
        <ol>
            <li v-for='item in sortitems'>{{item}}</li>
        </ol>
        <hr>
        <ul>
            <li v-for='student,index in sortstudents'>
                {{ index + 1 }} : {{ student.name }} - {{ student.age }}
            </li>
        </ul>
        <hr>
    </div>

    <script type="text/javascript">
        var app = new Vue({
            el:'#app',
            data:{
                items:[53,23,14,54,98,7],
                students:[
                    {name:'Ccc',age:11},
                    {name:'Aaa',age:33},                  
                    {name:'Ddd',age:6},
                    {name:'Bbb',age:22},
                ]
            },
            computed:{
                sortitems:function(){
                    //只通过第一位数排序
                    //return this.items.sort();   

                    // 引用自定义排序
                    return this.items.sort(number);

                    // 对象数组排序
                
                },
                sortstudents:function(){
                    return bykey(this.students,'age')
                }
            }
        })

        // 自定义排序方法
        function number(a,b){
            return a-b;
        }

        // 对象数组排序方法
        function bykey(array,key){
            return array.sort(function(a,b){
                var x = a[key];
                var y = b[key];
                return ((x < y)?-1:((x>y)?1:0));
            })
        }
    </script>
</body>
</html>